@import url("css/normalize.css");


header{
    height: 568px;
    width: 1300px;
    border: 1px solid red;
    margin: auto;
    background-image: url(assets/images/header.jpg); 
    
}
#menu::after,
#logo::after,
{
    clear: both;
}
nav{
    border: 1px solid red;
    margin: 70px 140px 0 0;
    float: right; 
}
#logo{
    float: left;
    margin: 29px 0 0 140px;
}
#menu{
    float: right;
    background-color: #f5c506;
    height: 50px;
    width: 450px; 
box-shadow: -3.5px -4.6px 0px 1px rgba(245,197,6,0.5), -8.6px -10.6px 0px 0.5px rgba(245,197,6,0.2);
}
#menu ul li{
    float: left;
    display: block;
    font-size: 17.05px;
    color: #9b7d08;   
   
}

a{
    text-decoration: none;
    color: #9b7d08;
}

#menu ul li:nth-child(1){
    background: url(assets/images/about.png) no-repeat left center;
    padding: 0 31px 0 31px;
}
#menu ul li:nth-child(2){
    background: url(assets/images/Services.png) no-repeat left center;
    padding: 0 31px 0 31px;
}

#menu ul li:nth-child(3){
    background: url(assets/images/contact.png) no-repeat left center;
    padding-left: 31px;
}

