@import url("css/normalize.css");
@import url("assets/font/fonts.css");
body{
    width: 640px;
    height: 1550px;
    margin: 0 auto;
}
header{
    height: 388px;
   
}

#header{
    width: 100%;
    height: 61.50px;
   
    position: relative;
}
#logo{
    float: left;
    width: 185px;
    background: #484848;
    height: 61.50px; 
}
#logo:hover{
    background: #c28401;
}
#logo img{
    position: absolute;
    top: 10.82px;
    left: 12px;
}
#menu{
    height: 61.50px;
    width: 455px;
    background-color: #f5c506;
    margin-left: 185px;
     top: 0;
    position: absolute;
    

}
#menu ul li{
    float: left;
    display: block;
    font-size: 19.05px;
    font-family: 'Segoe WP';
    height: 61.50px;
    
}
#menu a{
    text-decoration: none;
    color: #9b7d08;
   
}
#menu a:hover{
    text-decoration: underline;
   
}
#menu ul li:first-child{
    margin-left: -18px;
 
}
#menu ul li:nth-child(1){
    background: url(assets/images/about.png) no-repeat;
    padding: 0 30px 0 35px; 
}
#menu ul li:nth-child(2){
    background: url(assets/images/Services.png) no-repeat;
    padding: 0px 26px 0 28px;
   
    
}

#menu ul li:nth-child(3){
    background: url(assets/images/contact.png) no-repeat;
    padding-left: 39px;
}
#menu ul li span{
    
    position: absolute;
  top: 0;
  
 }
 #menu .span1{
     left: 165px;
 }
 #menu .span2{
    right: 155px;
}
#clear{
    clear: both;
}

.rio{
    position: relative;

}
.rio .after{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 327px;
    background:  rgba(245,197,6, 0.3);
}
.rio:hover .after{
   display: none;
}


.play{
   position: absolute;
   top: 129px;
   left: 294px;
}
.play:active {
   opacity: 0.1;
  
}
.player-img{
   position: absolute;
   bottom: 12.50px;
   left: 82.63px;
}

.main1{
    height: 170px;
    width: 100%;
    
    background: url(assets/images/backg.jpg) repeat;
    float: left;
    display: block;
    
}
.better-desing, .customise, .free{
   float: left;
  
     font-size: 23px;
  text-transform: uppercase;
  font-family: "Segoe WP";
 
}
.better-desing img:hover, .customise img:hover, .free img:hover{
    transform: scaleY(1.2);
}
.better-desing{
   padding: 33px 120px 0 33px;
}
.customise{
   padding: 28px 107px 0 0;
}
.free{
   padding-top: 28px;
}

.better-desing p{
 margin-left: -24px;
 margin-top: 15px;


}
.customise p{
margin-left: -26px;
 margin-top: 10px;
}
.free p{
   
   margin-top: 9px;
   margin-left: -2px;
}


.main2_content{
    height: 235px;
  
   
   
}
.main2_text{
    height: 230px;
    width: 298px;
    background: #ec9e03;
    position: relative;
    float: left;
    margin:10px 10px 8px 9px;
}
.main2_text p{
    position: absolute;
    font-family: 'Segoe WP';
    font-size: 28px;
    color: #fff;
    left: 24px;
}
.cross1{
    position: absolute;
    bottom: 13px;
    right: 14.50px;
    
}


#main2_img .monkey_img{
    margin-top: 10px;
   
}
.monkey_img{
    position: relative;
}
.main2_play{
    position: absolute;
 
   margin-left: -187px;
   margin-top: 101px;
   
}
.main2_play:hover{
    opacity: 0;
}
   




.twitter{
    height: 232px;
    width: 640px;
    background: #f5c507;
    float: right;
    position: relative;
    margin-bottom: 25px;
}
.twitter_cross{
    position: absolute;
    top: 59px;
    left: 86px;
}
.inputBot{
    position: absolute;
    right: 33px;
    bottom: 11px;
}
.inputBot_text{
    float: left;
    background: url(assets/images/imgMob/input_bg.png) no-repeat;
    width: 272px;
    height: 31px;
    outline: 0;
}
.inputBot_text input{
    border: none;
    background: none;
    width: 272px;
    height: 29px;
    font-size: 12px;
    border-radius: 12px;
}

.sumbit_img{
   margin-left: -69px;
   margin-top: 1px;
   border-radius: 5px;
}

.twit{
    position: absolute;
    right: 32px;
    top: 12px;
}
.twit ul li{
    display: block;
    padding-bottom: 6px;
}


section {
    height: 455px;
    width: 100%;
    background: #474747;
    position: relative;
    margin-top: 415px;
}
.section_text{
    position: absolute;
    font-family: "OpenSans";
    font-size: 39px;
    color: #f5c506;
    text-transform: uppercase;
    top: 43px;
    right: 21px;
  

}
.section__img{
    position: absolute;
    top: 115px;
    left: 26px;
}
footer{
    
    height: 43px;
    background: #4c4c4c;
}
.footer_log{
    padding: 5.80px 65px;
}


