@import url("css/normalize.css");
@import url("assets/font/fonts.css");


header{
    height: 568px;
    width: 1300px;
    margin: auto;
    background-image: url(assets/images/header.jpg); 
    
}
#header{
    height: 167px;
}
#header::after
{
    clear: both;
}
nav{
    
    margin: 70px 140px 0 0;
    float: right; 
}
#logo{
    float: left;
    margin: 29px 0 0 140px;
}
#menu{
    float: right;
    background-color: #f5c506;
    height: 43px;
    width: 454px; 
box-shadow: -3.5px -4.6px 0px 1px rgba(245,197,6,0.5), -8.6px -10.6px 0px 0.5px rgba(245,197,6,0.2);
    position: relative;
}
#menu ul li{
    float: left;
    display: block;
    font-size: 17.05px;
    font-family: 'Segoe WP';
}

#menu a{
    text-decoration: none;
    color: #9b7d08;
   
}
#menu a:hover{
    text-decoration: underline;
}

#menu ul li:nth-child(1){
    background: url(assets/images/about.png) no-repeat left center;
    padding: 0 37px 0 30px;
    height: 20px;
    
}
#menu ul li:nth-child(2){
    background: url(assets/images/Services.png) no-repeat left center;
    padding: 0px 37px 0 28px;
    height: 20px;
    
}

#menu ul li:nth-child(3){
    background: url(assets/images/contact.png) no-repeat left center;
    padding-left: 35px;
}


#menu ul li span{
    
    position: absolute;
  top: 0;
  
 }
 #menu .span1{
     left: 168px;
 }
 #menu .span2{
    right: 146px;
}
 .player{
     height: 397px;
     width: 100%;
    border: 1px solid red;
 }
 .rio{
     margin-left: 149px;
   position: relative;
   width: 549px;
   height: 327px;
 }
.rio .after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background:  rgba(245,197,6, 0.11);
}
.rio:hover .after{
    display: none;
}
 

